<!DOCTYPE html>
<html>
<head>
	<title>The Sound App</title>
	<script type="text/javascript" src="js/lib/paper-full.js"></script>
	<script type="text/javascript" src="js/lib/howler.js"></script>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<script type="text/paperscript" canvas="myCanvas" src="js/circles.js"></script>
</head>
<body>
	<h1>Press (A-Z) keys in your keyboard to have some musical fun.</h1>
	<canvas id="myCanvas" resize></canvas>
	<h4>Created and maintain by Sufian Shaikh.</h4>
</body>
</html>